/* Estilização geral (Envolve todos os componentes) */
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

/* Todas as imagens */
img {
    max-width: 100%;
}

/* Navegação */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #b4b4b4;
}

.navbar img {
    width: 80px;
    cursor: pointer;
}

.navbar nav a {
    margin-left: 20px;
    margin: 1px;
    color: #b4b4b4;
}

/* Link */
a {
    text-decoration: none;
    margin: 0 0 0 0;
    padding: 8px;
}

.navbar nav a:link {
    background-color: black;
    font-weight: bold;
}

.navbar nav a:hover {
    color: white;
    background-color: black;
}

/* Seção */
.titulo h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.mapas {
    display: inline-block;
    text-align: center;
    width: 33%;
    align-items: center;
    margin-bottom: 20px;
}


.mapas h2 {
    margin-bottom: 10px;
}





/* Rodapé */
footer {
    display: flex;
    padding: 20px;
    background-color: #b4b4b4;
}

footer .dev {
    width: 50%;
    text-align: start;
    margin-top: 10px;
    margin-left: 30px;
}

footer .endereco {
    width: 50%;
    text-align: end;
    margin-right: 30px;
}

/* Ajustando demais dispositivos */
@media(max-width: 700px) {
    .main-page {
        flex-direction: column;
    }

    .main-page .titulo {
        width: 100%;
    }

    .main-page .mapas{
        width: 100%;
    }
}

@media(max-width: 350px) {
    .navbar {
        flex-direction: column;
        padding: 20px;
    }
}