<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/pagamentos.css">
        <title>Academia Código</title>
    </head>

    <body>
        <header class="navbar">
            <img alt="Logo" src="images/logo.jpg" />
            <nav>
                <a href="#"> Home </a>
                <a href="#"> Planos </a>
                <a href="#"> Unidades </a>
                <a href="#"> Contato </a>
                <a href="#"> Login </a>
            </nav>
        </header>

        <section class="container">
            <h1>cartão para pagamento</h1>
            <form>
            <div class="configuracao">
                <div class="NumeroDoCartao">
                    <label>numero do cartao</label>
                    <input type="number" id="number" nome="number">
                    <input type="number" id="number" nome="number">
                    <input type="number" id="number" nome="number">
                    <input type="number" id="number" nome="number">
                </div>
                <div class="nome">
                    <label>Nome Completo</label>
                    <input type="text" id="name" placeholder="nome completo">
                </div>                       
                <div class="dataDeVencimento">
                    <label>data de vencimento</label>
                    <input type="number" id="number" placeholder="01">
                    <input type="number" id="number" placeholder="2023">
                </div>
                <div class="codigoDoCsv">
                    <label>codigo do csv</label>
                    <input type="number" id= number>
                </div>
                <div class="parcelamento">
                    <label>parcelamento</label>
                    <input type="number" id="number">
                    </div>   

                <div class="concluir">
                    <button type="submit" class="submit" value="concluir pagamento"></button>
                </div>
            </div>
            </form>

        </section>
     
        <footer>

            <div class="dev">
                &copy; Todos os direitos reservados <br>
                Desenvolvido por Diogo Thompson <br>
            </div>
            
             <div class="endereco">
                Endereço: Rua: xyz, s/n - Pavuna <br>
                CEP: 00000-000 Rio de Janeiro / RJ <br>
                CNPJ: 00.000.000\0001-00 
             </div>
            
        </footer>

    </body>

</html>