<1doctype html>
    <html>
        <head>
            <title>Aula3</title>
            <link rel='stylesheet' href='/stylesheets/style.css' />
        </head>
        <body>
            <h1>Aula3</h1>
            <p> Bem vindo!</p>
        </body>
    </html>