/* Estilização geral (Envolve todos os componentes) */
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

/* Todas as imagens */
img {
    max-width: 100%;
}

/* Navegação */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #b4b4b4;
}

.navbar img {
    width: 80px;
    cursor: pointer;
}

.navbar nav a {
    margin-left: 20px;
    margin: 1px;
}

/* Link */
a {
    text-decoration: none;
    margin: 0 0 0 0;
    color: #b4b4b4;
    padding: 8px;
}

.navbar nav a:link {
    background-color: black;
    font-weight: bold;
}

.navbar nav a:hover {
    color: white;
    background-color: black;
}

/* Seção */
display: flex;
main{
    background-color: #b4b4b4;
}

h1{
    color:black;
    padding-top: 20px;
    align-items: center;
    
}

p{
    padding-top: 20px;
    align-items: center;
}

section.plano{
    background-color: black;
    display: inline-block;
    width: 20%;
    margin: 35px;
    
    
   
    

}
h2{
    color: white;
    
}

h3{
    background-color: white;
}
ul{
    color: white;
}


/* Rodapé */
footer {
    display: flex;
    padding: 20px;
    background-color: #b4b4b4;
}

footer .dev {
    width: 50%;
    text-align: start;
    margin-top: 10px;
    margin-left: 30px;
}

footer .endereco {
    width: 50%;
    text-align: end;
    margin-right: 30px;
}

/* Ajustando demais dispositivos */
@media(max-width: 700px) {
    .first-section {
        flex-direction: column;
    }

    .first-section .foto-promocao {
        width: 100%;
    }

    .first-section .promocao{
        width: 100%;
    }

    .main-page .form-container form {
        width: 100%;
    }
}

@media(max-width: 350px) {
    .navbar {
        flex-direction: column;
        padding: 20px;
    }
}