<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/index.css">
        <title>Academia Código</title>
    </head>

    <body>
        <header class="navbar">
            <img alt="Logo" src="images/logo.jpg" />
            <nav>
                <a href="/"> Home </a>
                <a href="planos"> Planos </a>
                <a href="cadastros"> Cadastre-se </a>
            </nav>
        </header>

        <section class="main-page">

            <div class="form-container">
                <form>
                    <h2> Acesse o espaço do cliente</h2>

                    <div class="field">
                      <label>CPF</label>  
                      <input type="namber" name="CPF" id="CPF"/>
                    </div>

                    <div class="field">
                        <label>Senha</label>  
                        <input type="password" name="senha" id="senha"/>
                    </div>
                    
                    <div class="botao">
                        <button>Login</button>
                    </div>                                      

                    <div class="cadastro"> 
                       <a href="cadastros">Cadastre-se</a>
                    </div>
                    
                
                </form> 

            </div>
            
        </section>

        <footer>

            <div class="dev">
                Todos os direitos reservados <br>
                Desenvolvido por Diogo Thompson <br>
            </div>
            
             <div class="endereco">
                Endereço: Rua: xyz, s/n - Pavuna <br>
                CEP: 00000-000 Rio de Janeiro / RJ <br>
                CNPJ: 00.000.000\0001-00 
             </div>
            
        </footer>

    </body>

</html>
