<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/pagamentos.css">
        <title>Academia Código</title>
    </head>

    <body>
        <header class="navbar">
            <img alt="Logo" src="images/logo.jpg" />
            <nav>
                <a href="/"> Home </a>
                <a href="planos"> Planos </a>
                <a href="cadastros"> Cadastre-se </a>
            </nav>
        </header>

        <section class="main-page">

            <div class="form-container">
                <form>                    
                    <h2> Cartão para pagamento </h2>

                    <div class="field">
                        <input type="nome" id="nome" nome="nome" placeholder="Nome no cartão" required>
                    </div>
                    
                    <div class="field">
                        <input type="text" onkeypress= "return event.charCode >= 48 && event.charCode <= 57" id="numerocartao" nome="numerocartao" placeholder="Número do cartão" maxlength="16" required>
                    </div>

                    <div class="field">
                        <input type="month" id="datavencimento" nome="datavencimento" placeholder="Vencimento do cartão" required>
                    </div>

                    <div class="field">
                        <input type="text" onkeypress= "return event.charCode >= 48 && event.charCode <= 57" id="numerocsv" nome="numerocsv" placeholder="Número do código de verificação" maxlength="3" required>
                    </div>
                    
                    <div class="botao">
                        <button>Pagar</button>
                    </div>
                                      

                    <div class="escolher-plano"> 
                       <a href="planos">Escolher outro plano</a>
                    </div>
                                    
                </form>
            
            </div>

        </section>
     
        <footer>

            <div class="dev">
                &copy; Todos os direitos reservados <br>
                Desenvolvido por Diogo Thompson <br>
            </div>
            
             <div class="endereco">
                Endereço: Rua: xyz, s/n - Pavuna <br>
                CEP: 00000-000 Rio de Janeiro / RJ <br>
                CNPJ: 00.000.000\0001-00 
             </div>
            
        </footer>

    </body>

</html>