<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/planos.css">
        <title>Academia Código</title>
    </head>

    <body>
        <header class="navbar">
            <img alt="Logo" src="images/logo.jpg" />
            <nav>
                <a href="/"> Home </a>
                <a href="planos"> Planos </a>
                <a href="cadastros"> Cadastre-se </a>
            </nav>
        </header>

        <main>
            <section >
            <div> 
                <h1>Escolha seu plano</h1>
            </div>
            <div>
                <p>Treine o quanto quiser com os plano. Musculação, Aeróbico, Movimento, Capoeira e Ginástica </p>
            </div>
            </section>
            <section class="plano">
                <div>
                    <h2>plano 1</h2>   
                </div>
                <div>
                   <h3> a partir de R$ 9</h3> 
                </div>
                <div>
                    <ul>
                        <li>Aulas de Ginática</li>
                        <li>Aulas de Musculação e Aeróbicos</li>
                        <li>Sem taxa de Adesaõ</li>
                        <li>Sem taxa de Cancelamento</li>
                    </ul>
                </div>
                <div>
                <button>assinar</button>
                </div>  
            </section>
            <section class="plano">
                <div>
                    <h2>plano 2</h2>   
                </div>
                <div>
                   <h3> a partir de R$ 19</h3> 
                </div>
                <div>
                    <ul>
                        <li>Aulas de Ginática</li>
                        <li>Aulas de Musculação e Aeróbicos</li>
                        <li>Sem taxa de Adesaõ</li>
                        <li>Sem taxa de Cancelamento</li>
                    </ul>
                </div>
                <div>
                <button>assinar</button>
                </div>  
            </section>
            <section class="plano">
                <div>
                    <h2>plano 3</h2>   
                </div>
                <div>
                   <h3> a partir de R$ 29</h3> 
                </div>
                <div>
                    <ul>
                        <li>Aulas de Ginática</li>
                        <li>Aulas de Musculação e Aeróbicos</li>
                        <li>Sem taxa de Adesaõ</li>
                        <li>Sem taxa de Cancelamento</li>
                    </ul>
                </div>
                <div>
                <button>assinar</button>
                </div>  
            </section>
            <section class="plano">
                <div>
                    <h2>plano 4</h2>   
                </div>
                <div>
                   <h3> a partir de R$ 39</h3> 
                </div>
                <div>
                    <ul>
                        <li>Aulas de Ginática</li>
                        <li>Aulas de Musculação e Aeróbicos</li>
                        <li>Sem taxa de Adesaõ</li>
                        <li>Sem taxa de Cancelamento</li>
                    </ul>
                </div>
                <div>
                <button>assinar</button>
                </div>  
            </section>
        </main>
        <footer>

            <div class="dev">
                &copy; Todos os direitos reservados <br>
                Desenvolvido por Diogo Thompson <br>
            </div>
            
             <div class="endereco">
                Endereço: Rua: xyz, s/n - Pavuna <br>
                CEP: 00000-000 Rio de Janeiro / RJ <br>
                CNPJ: 00.000.000\0001-00 
             </div>
            
        </footer>

    </body>

</html>